.barra-navegacao{
    display: flex;
    background-color: #ff9b42;
    width: 100%;
    height: 50px;
    justify-content: center;
}
.barra-navegacao > ul{
    display: flex;
    text-decoration: none;
    margin-top: 0;
    width: 80%;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding-right: auto;
    list-style-type: none;
}

.barra-navegacao > ul > li{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border:  none;
    padding: auto;
    background-color: #ff9b42;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s;
    transform-origin: center;
}

.barra-navegacao > ul > li:hover{
    transform: scale(1.4);
    background-color: #FF9233;
}

@media (max-width: 768px) {
    .barra-navegacao{
        flex-direction: column;
        height: auto;
        padding: 2px 0;
    }

    .barra-navegacao > ul{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .barra-navegacao > ul > li{
        width: 100%;
        font-size: 20px;
        padding: 7px 0;
    }
}