header{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #003F91;
}

/* Divisoes do header */
.divisao-esquerda{
    display: flex;
    width: 33%;
    height: 100%;
    align-items: center;
}

.divisao-direita{
    display: flex;
    width: 33%;
    height: 100%;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.divisao-centro{
    display: flex;
    width: 34%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Itens da divisao esquerda */
.logo{
    height: 100%;
    margin-left: 30px;
}

/* Itens da divisao central */

.barra-pesquisa{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 80%;
    height: 33px;
    margin: 0;
    border-radius: 2em;
    padding-right: 10px;
    padding-left: 5px;
}

.pesquisa{
    margin-left: auto;
    margin-right: 3%;
    border: none;
    width: 90%;
}

.pesquisa:focus{
    outline: none;
}

.pesquisa::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.botao-pesquisa{
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    height: 100%;
}

.lupa{
    height: 80%;
}

/* Itens da divisao direita */

.botao-mudar-fundo{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: #FF9233;
    height: 50px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 0px;
    cursor: pointer;
    border-radius: 8px;
}

.carrinho{
    width: 50px;
    transition: all 0.5s;
    transform-origin: center;
}

.avatar{
    width: 100px; 
    height: 100px;
}

/* Responsividae */

@media (max-width: 768px) {
    header{
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .divisao-esquerda{
        height: 100px;
        margin: 10px;
        width: 100%;
        justify-content: center;
    }

    .divisao-centro{
        width: 100%;
    }

    .divisao-direita{
        width: 100%;
        height: 100px;
        gap: 10px;
    }

    .botao-mudar-fundo{
        height: 35px;
        width: 80px;
    }

    .carrinho{
        width: 35px;
    }

    .avatar{
        width: 40px;
        height: 40px;
    }

    .logo{
        margin-left: 0;
    }
}

/* @media (max-width: 1024px) {

} */